/*Buttons*/

/*Images*/

/*Forms/Text Fields*/

/*Custom Classes*/

/*Mobile Custom Classes*/

/*Animations*/

/*Corners*/

.rcorners10 {
  border-radius: 5px;
}

.rcorners5 {
  border-radius: 5px;
}

.rcorners2 {
  border-radius: 2px;
}